body {
    background-color:rgb(193, 156, 188);
    color:aliceblue;
}

.header {
    background-color:rgba(186, 128, 164, 0.456);
}

.header h2 {
    font: size 30px;
}

.hero {

}

.products {

}

.shop {

}

.footer {
    
}